@font-face {
    font-family: 'blenderpro-heavy';
    src: url('../assets/fonts/blenderpro-heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/blenderpro-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
    font-family: 'blenderpro-bold';
    src: url('../assets/fonts/blenderpro-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/blenderpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
    font-family: 'blenderpro-book';
    src: url('../assets/fonts/blenderpro-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/blenderpro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
    font-family: 'blenderpro-thin';
    src: url('../assets/fonts/blenderpro-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/blenderpro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 
}