<section id='page-register-login' class='forget-password'>
	<div class="form">
		<h2>Forgot Password</h2>
		<p>Enter your email to recover your password</p>
		<form>
			<div class="form-input">
				{{input value=email  type="email" placeholder="Email"}}
				{{display-errors errors=errors.email showErrors=showErrors class='form-error'}}
			</div>
			<button {{action "forget" }}><span class="button button-teal">Recover Password</span></button>
		</form>		
	</div>
</section>
