Hi <%=firstName%>,<br /><br />

You have just joined the most supportive website for world builders and we are happy to have you join our site!
Please verify your email so that we know that you are real!<br /><br />

<a href="http://8thmind.com/activate?token=<%=token%>">http://8thmind.com/activate?token=<%=token%></a><br /><br />

Once you've verified your email, you'll be able to fully engage in registered member activities. Future notifications
will be sent to this email address.<br /><br />

Thanks for joining us!<br />
8th Mind Team