You have requested a password reset for your 8th Mind account.<br /><br />

To reset your account password, click the link below:<br /><br />

<a href="http://8thmind.com/reset-password-process?token=<%= token %>">http://8thmind.com/reset-password-process?token=<%= token %></a>.<br /><br />

Thanks!
